<div class="row">
  <div class=" g-4">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>

 <div class="row row-cols-md-2 g-2" >
  <app-recipe-item *ngFor="let recipeEl of recipes" [recipe] = "recipeEl"></app-recipe-item>
  </div>

  <!-- <div class="card mb-3" *ngFor="let recipe of recipes" style="max-width: 540px;">
    <div class="row g-0" >
      <div class="col-md-4">
        <img src="{{recipe.imagePath}}"class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <p class="card-text">{{recipe.description}}.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->




